.contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 570px;
}

.contacts>h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.button {
    text-align: center;
}

.form-row>input {
    border-bottom: 1px rgb(160, 160, 160) solid;
    padding: 20px 70px;
    font-size: 14px;
    margin: 0px 10px;
    margin-bottom: 20px;
}

.formTextArea>textarea {
    border-bottom: 1px rgb(160, 160, 160) solid;
    padding: 50px 410px;
    font-size: 14px;
    margin: 0px 10px;
    margin-bottom: 30px;
}